:root {
    --primary-color: #0078d4;
    --secondary-color: #f3f3f3;
    --accent-color: #ffb900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    padding: 0rem 3rem;
}

body {
    /*font-family: Arial, Helvetica, sans-serif; */
    background-color: #fff;
    color: #222;
    line-height: 1.6;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none; 
}

header {
    height: auto;
    width: 100%;
    display: grid;
    padding: 0.5rem 1rem;
    grid-template-areas: 
        ". icon ."
        ". nav ."
        ". button .";
    justify-items: center;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 3fr 1fr;


}

nav {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
}

.nav-link {
    display: inline-block;
    padding: 1rem;
    margin: 0 0.5rem;
    transition: all 0.3s ease;
    transform: translate(0, 0);

}

.nav-link:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}

.nav-link:active {
        transform: translate(0, 0);
}

#header-icon-container {
    width: 50vw;
    grid-area: icon;
}

#header-button-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: button;

}

#header-button {
    border: none;
    border-radius: 50%;
    font-size: 2.5em;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

#header-button:hover {
    transform: translate(0, -5px);
}

#header-button:active {
    transform: translate(0, 0);
}

.text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-title {
    position: relative;
    top: 0;
    left: 0;
    animation: fadeOut 16s ease-in-out infinite;
}

#hero-section {
    display: grid;
    grid-template-areas: 
        "text"
        "image";

}

#hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    grid-area: text;
    text-align: center;
}

#second-title-h1 {
    position: absolute;
    top: 0rem;
    left: 6.2rem;
    opacity: 0;
    animation: fadeIn 16s ease-in-out infinite;
}

#second-title-h2 {
    position: absolute;
    top: 3.2rem;
    left: 7.3rem;
    opacity: 0;
    animation: fadeIn 16s ease-in-out infinite;
}

@keyframes fadeOut {
    0%   { opacity: 0; }
    10% { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    70% { opacity: 1; }
    80% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0%   { opacity: 1; }
    10% { opacity: 1; }
    20% { opacity: 1; }
    30% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 0; }
    60% { opacity: 0; }
    70% { opacity: 0; }
    80% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 1; }
}

#hero-paragraph {
   padding: 1rem 0 1rem 0;
}

.hover-glow {
    color: black;
    transition: color 0.5s ease;
}

#hero-text-container:hover .hover-glow {
    color: var(--accent-color);
}

#hero-button {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 33%;
    font-size: 1rem;
    cursor: pointer;
    width: 13rem;
    transition: all 0.2s ease;
}

#hero-button:hover {
    background-color: var(--accent-color);
    transform: translate(0, -5px);
    box-shadow: 0 2px 4px black;
}

#hero-button:active {
    background-color: var(--primary-color);
    transform: translate(0, 0);
    box-shadow: none;
}

#hero-image-container {
    grid-area: image;
    display: flex;
    justify-content: center;
}

#hero-image {
    width: 75%;
}
/* Tablet */
@media (min-width: 600px) {
    #header-icon-container {
        width: 12rem;
    }
    
}

/* small laptop */
@media (min-width: 900px) {
    html {
        padding: 0rem;
    }

    #header-icon-container {
        width: 9rem;
    }

    header {
        grid-template-areas: 
            "icon nav button";
        grid-template-columns: 1fr 3fr 1fr;
        padding: 1rem 2rem;
    }

    #hero-section {
        grid-template-areas: "text image";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: auto;

    }

    #hero-image {
        width: 100%;
    }
}

/* Desktop */
@media (min-width: 1200px) {

    html {
        font-size: 18px;
    }

    #header-icon-container {
        width: 6rem;
        justify-self: start;
    }

    #header-button-container {
        justify-self: end;
    }

    #hero-section {
        grid-template-areas: "text image";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: auto;

    }

    #hero-image-container {
        margin-right: 2rem;
    }

}